body{
    /* BBDEFB is better for background */
    background-color: #BBDEFB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quote-screen{
    margin-top: 10%;
    border-style: solid;
}